.boton-acordeon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1px;
    background-color: #0a8025;
    border: 2px solid #031607;
    border-radius: 1.2rem;
    box-shadow: 10px 6px 5px -2px rgb(0 0 0 / 75%);
    color: #fff !important;
    cursor: pointer;
    padding: 2rem
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 2rem
}