.verde-1{
    background-color: #003D33;
}
.verde-2{
    background-color: #004D40;
}
.verde-3{
    background-color: #00695C;
}
.verde-4{
    background-color: #0A8025;   
}
.gris-1{
    background-color: #c7c7c767;
}
.blanco-1{
    background: #ffffff;
}